#projects {
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow:hidden;
}

.slider{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-y:hidden;
    overflow-x:scroll;
    gap:30px;
    padding: 20px;
    scrollbar-width: none; 
}

#projects-title {
     background :linear-gradient(to right , rgb(235, 22, 68) , white);
      background-clip:text;
color:transparent;
  font-size:4vmax;
  text-align: center;

}