.card {
        width:90%;
        max-width: 400px;
        height: 150px;
        background-color: rgb(20, 26, 31);
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 10px black, 2px 2px 20px black;
        border-radius: 10px;
        transition: all 0.2s;
        cursor: pointer;
        flex-shrink: 0;
        padding:10px;
}

.card:hover {
        box-shadow: 2px 2px 10px rgb(30, 184, 208), 2px 2px 20px rgb(30, 184, 208);

}

.hoverCard img {
        height: 80%;
        filter: drop-shadow(2px 2px 10px black);

}

.hoverCard {
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(88, 204, 227, 0.449), rgba(0, 0, 0, 0.358));
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(7px);

}

.card:hover .hoverCard {
        transform: translateY(0);

}

.card h1 {
        background: linear-gradient(to right, rgb(0, 195, 255), white);
        background-clip: text;
        color: transparent;
}