#contact{
    display: flex;
    width:100%;
    height:100%;
    overflow:hidden;
}

.leftContact {
    width:50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContact img {
    width:50%;
    filter:drop-shadow(2px 2px 10px rgb(29, 185, 202));

}
.rightContact {
    width:50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
     width:80%;
     height: 70%;
     background-color: rgb(19,25,29);
     box-shadow: 2px 2px 10px black , 2px 2px 10px black;
     display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        gap:20px;
        padding:15px;
}

form:hover {
      box-shadow: 2px 2px 10px rgb(29, 185, 202);
}

form input{
    width:80%;
    height: 50px;
    outline: none;
    border: 2px solid rgb(29, 185, 202);

    padding:20px;
    border-radius: 20px;
}

#textarea {
    width:80%;
    height:200px;
     outline: none;
    border: 2px solid rgb(29, 185, 202);

    padding:20px;
    border-radius:20px;
}

#btn {
     width:90px;
        height:50px;
        background-color: rgb(29, 185, 202);
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
    
        transition: all 0.3s;
        cursor:pointer


}
#btn:hover {
      background-color:transparent;
    color:rgb(0, 195, 255);
   

}

@media(max-width:750px) {
    #contact {
        flex-direction: column;
    }
    .leftContact {
        width: 100%;
        height: 50vh;
  
        
    }
  .rightContact {
        width: 100%;
      
     

    }
   
.leftContact img {
    width:70%;


}
form {
 
        padding:2px;
}


}